h1 {
    background-color: darkcyan;
    color:beige;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

h1,
.one,
.two {
    text-align: center
}

.one {
    font-size: 22px;
    color:orange;
}

.two {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

button {
    background-color: beige;
    color: darkcyan;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#food {
    height: auto;
    width: 320px;
}    

h3,
h5 {
    font-weight: 600;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    color: cadetblue;
}

ul,
ol {
    text-align: center;
    font-size: 14px;
}

* {
    font-family: cursive;
}